body{
    box-align: center;
    box-sizing: border-box;
}

.jumbotron {
    background-color: rgb(15, 15, 199); 
    color: white;
    font-family: 'Roboto Mono', monospace;
    padding: 2rem 2rem;
    border-radius: .8rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
h1 {
    letter-spacing: 3px;
    font-size: 60px;
}
.pun {
    font-style: italic;
}

th {
    font-family: 'Roboto Mono', monospace;
}

.card-header {
    color:  rgb(15, 15, 199); 
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 3px;
}
#train-form {
    
   
}

label {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}